@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Yanone+Kaffeesatz:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Yanone+Kaffeesatz:wght@400&display=swap");

.gf-01 {
  font-family: "Great Vibes", cursive;
}

.gf-02 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
}

.gf-03 {
  font-family: "Satisfy", cursive;
  font-style: normal;
}

.gf-04 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-pre {
  white-space: pre !important;
  background-color: #28292b !important;
  color: #4f8aff !important;
  padding: 25px;
  width: 100%;
  max-width: 850px;
  overflow-x: auto;
}

// Screen
@media only screen and (max-width: 600px) {
  .text-h3 {
    font-size: 2rem;
  }
  .text-h6 {
    font-size: 1rem;
  }
}
